/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/backlight.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#include <dt-bindings/zmk/pointing.h>

// Helpful macros borrowed from AndrewMSHowe
#define ___ &trans

// Layer numbers for use by the keymap & macros

#define DEFAULT 0
#define NUMBER  1
#define FN  2
#define HOTKEY  3



/ {

    keymap {
        compatible = "zmk,keymap";

        windows_default_layer {
            label = "DEFAULT";
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                 ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
       &kp ESC        &kp Q            &kp W           &kp E           &kp R           &kp T     /*|                                 |*/  &kp Y          &kp U           &kp I           &kp O           &kp P          &kp GRAVE 
       &kp TAB        &kp A            &kp S           &kp D           &kp F           &kp G     /*├─────────────╮     ╭─────────────┤*/  &kp H          &kp J           &kp K           &kp L           &kp SEMI       &kp SQT
       &kp LSHIFT     &kp Z            &kp X           &kp C           &kp V           &kp B                                              &kp N          &kp M           &kp COMMA       &kp DOT         &kp FSLH       &kp LALT
/* ╰───────────────┴───────────────┤*/                                 &kp LCTRL       &lt 1  RETURN  &kp SPACE              &kp LSHIFT   &lt 2 BSPC     &kp LGUI     //├───────────────┴───────────────╯
//                                 ╰───────────────┴───────────────┴───────────────┴───────────────┴─────────────╯     ╰─────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
        };

 

        windows_symbols_layer {
            label = "NUMBER";
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                 ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
       &kp UNDER       &kp N1          &kp N2          &kp N3          &kp N4          &kp N5    /*|                                 |*/  &kp FSLH       &kp N7          &kp N8          &kp N9          &kp N0          &kp EQUAL
       ___             &kp EXCL        &kp AT          &mkp RCLK       &mkp LCLK       &kp PRCNT /*├─────────────╮     ╭─────────────┤*/  &kp STAR       &kp N4          &kp N5          &kp N6          &kp N0          &kp MINUS
       &kp PSCRN       &kp LG(DOT)     &kp LEFT_BRACE  &kp RIGHT_BRACE &kp PIPE        &kp EQUAL                                          &kp BSLH       &kp N1          &kp N2          &kp N3          &kp BACKSLASH   &kp PLUS
/* ╰───────────────┴───────────────┤*/                                 ___             ___             ___                 &kp LSHIFT     &kp DEL        &kp EQUAL                  //├───────────────┴───────────────╯
//                                 ╰───────────────┴───────────────┴───────────────┴───────────────┴─────────────╯     ╰─────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
        };

        numpad_layer {
            label = "FN";
            
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                 ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
       &kp F11         &kp F1          &kp F2          &kp F3          &kp F4          &kp F5    /*|                                 |*/  &kp F6         &kp F7          &kp F8          &kp F9          &kp F10          &kp F12 
       &kp CAPSLOCK    &kp EXCL        &kp AT          &kp HASH        &kp DLLR        &kp PRCNT /*├─────────────╮     ╭─────────────┤*/  &kp CARET      &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT        &kp MINUS
       ___             ___             &kp LEFT_BRACE  &kp RIGHT_BRACE &kp PIPE        &kp EQUAL                                          &kp PRCNT      &kp N1          &mt COMMA N2    &mt DOT N3      &kp KP_DIVIDE    &kp KP_MULTIPLY
/* ╰───────────────┴───────────────┤*/                                 &kp LGUI        &kp LALT      &kp LA(SPACE)            ___            ___         &kp N0                                    //├───────────────┴───────────────╯
//                                 ╰───────────────┴───────────────┴───────────────┴───────────────┴─────────────╯     ╰─────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
      };



      settings_layer {
            label = "HOTKEY";
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬────────────────╮                                 ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
      &out OUT_TOG      ___               ___             ___              ___            ___     /*|                                 |*/   &kp N6         &kp N7          &kp N8          &kp N9          &kp N0          &soft_off
      ___              ___             ___             ___             ___             ___        /*├─────────────╮     ╭─────────────┤*/   ___            &kp N4          &kp N5          &kp N6          ___             ___
      ___              &bl BL_TOG      ___   &bl BL_DEC      &bl BL_TOG      &bl BL_INC                                           ___            &kp N1          &kp N2          &kp N3          ___             ___
/* ╰───────────────┴───────────────┤*/                                    ___              ___         ___                  ___             ___            &kp N0                //├───────────────┴───────────────╯
//                                 ╰───────────────┴───────────────┴───────────────┴────────────────┴─────────────╯     ╰─────────────┴───────────────┴───────────────┴───────────────┴───────────────╯   
            >;
        };

    

    };

};
