/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/backlight.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#include <dt-bindings/zmk/pointing.h>

// Helpful macros borrowed from AndrewMSHowe
#define ___ &trans

// Layer numbers for use by the keymap & macros

#define DEFAULT 0
#define NUMBER  1
#define FN  2
#define HOTKEY  3



/ {

    keymap {
        compatible = "zmk,keymap";

        mac_default_layer {
            label = "DEFAULT";
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                 ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
       &kp GRAVE      &kp Q            &kp W           &kp E           &kp R           &kp T     /*|                                 |*/  &kp Y          &kp U           &kp I           &kp O           &kp P          &mt LA(BSPC) BSPC
       &kp TAB        &kp A            &kp S           &kp D           &kp F           &kp G     /*├─────────────╮     ╭─────────────┤*/  &kp H          &kp J           &kp K           &kp L           &kp SEMI       &kp SQT
       &kp LSHIFT     &kp Z            &kp X           &kp C           &kp V           &kp B                                              &kp N          &kp M           &kp COMMA       &kp DOT         &kp FSLH       &kp RSHFT
/* ╰───────────────┴───────────────┤*/                                 &kp LGUI    &mt LCTRL RETURN  &mo 1              &kp BACKSPACE  &lt 3 SPACE  &mkp LCLK     //├───────────────┴───────────────╯
//                                 ╰───────────────┴───────────────┴───────────────┴───────────────┴─────────────╯     ╰─────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
        };

 

        mac_symbols_layer {
            label = "NUMBER";
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                 ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
       &kp UNDER       &kp N1          &kp N2          &kp N3          &kp N4          &kp N5    /*|                                 |*/  &kp N6         &kp N7          &kp N8          &kp N9          &kp N0          &kp DEL
       ___             &kp EXCL        &kp AT          &kp HASH        &kp DLLR        &kp PRCNT /*├─────────────╮     ╭─────────────┤*/  &kp CARET      &kp AMPERSAND   &kp STAR        &kp LPAR        &kp RPAR        &kp MINUS
       ___             &kp LC(LG(SPACE)) &kp LEFT_BRACE  &kp RIGHT_BRACE &kp PIPE        &kp EQUAL                                        &kp PRCNT      &kp PLUS        &kp LBKT        &kp RBKT        &kp BACKSLASH   ___
/* ╰───────────────┴───────────────┤*/                                 ___             ___             ___                 ___            ___            ___                   //├───────────────┴───────────────╯
//                                 ╰───────────────┴───────────────┴───────────────┴───────────────┴─────────────╯     ╰─────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
        };

        numpad_layer {
            label = "FN";
            
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                 ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
       ___             &kp N1          &kp N2          &kp N3          &kp N4          &kp N5    /*|                                 |*/    &kp N6         &kp N7          &kp N8          &kp N9          &kp N0          ___ 
       ___             &kp EXCL        &kp AT          &kp HASH        &kp DLLR        &kp PRCNT /*├─────────────╮     ╭─────────────┤*/  &kp CARET      &kp N4          &kp N5          &mt LPAR N6     &mt RPAR PLUS   &kp MINUS
       ___             ___             &kp LEFT_BRACE  &kp RIGHT_BRACE &kp PIPE        &kp EQUAL                                          &kp PRCNT      &kp N1          &mt COMMA N2    &mt DOT N3      &kp KP_DIVIDE   &kp KP_MULTIPLY
/* ╰───────────────┴───────────────┤*/                                 ___             ___             ___                 ___            ___    &kp N0                //├───────────────┴───────────────╯
//                                 ╰───────────────┴───────────────┴───────────────┴───────────────┴─────────────╯     ╰─────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
      };



      mouse_layer {
            label = "MOUSE";
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬────────────────╮                                 ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
      &out OUT_TOG     ___             ___             ___             ___             ___         /*|                                 |*/   ___            &msc SCRL_UP    &mmv MOVE_UP     &msc SCRL_DOWN  ___              &soft_off
      ___              &bl BL_TOG      &bl BL_INC      &bl BL_DEC      ___             ___         /*├─────────────╮     ╭─────────────┤*/   ___            &mmv MOVE_LEFT  &mmv MOVE_DOWN   &mmv MOVE_RIGHT ___              ___
      ___              ___             ___             ___             ___             ___                                                    &msc SCRL_LEFT ___             ___              ___             &msc SCRL_RIGHT  ___
/* ╰───────────────┴───────────────┤*/                                 &mkp LCLK       &mkp RCLK       &mkp MCLK           ___            ___            ___             //├───────────────┴───────────────╯
//                                 ╰───────────────┴───────────────┴───────────────┴────────────────┴─────────────╯     ╰─────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
        };

    

    };

};
